@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 0 16px;
}

img {
    object-fit: scale-down;
}

.swiper-img {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    max-width: 750px;
    height: 500px;

    padding-bottom: 50px !important;

    margin: auto;
}